.tree ul {
    padding-left: 20px;
    list-style: none;
    position: relative;
}

/* .tree ul::before {
    content: '';
    border-left: 1px solid #999;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
} */

.tree li {
    margin: 10px 0;
    padding-left: 20px;
    position: relative;
}

/* .tree li::before {
    content: '';
    border-top: 1px solid #999;
    position: absolute;
    top: 12px;
    left: 10px;
    width: 20px;
} */

.node {
    background: #f5f5f5;
    padding: 4px 10px;
    border-radius: 4px;
    display: inline-block;
    border: 1px solid #ccc;
}